.App {
  text-align: center;
  padding: 20px;
}

.celebrity-list {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}

input[type='file'] {
  margin: 10px 0;
}
